@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1792px)  {

    body{
        background-image: linear-gradient(to top,#49a09d,#5f2c82);
    }
    section#login{
        width: 100vw;
        height: 260px;

    }
    section#login >div#imagem {
        float:right;
        width: 35%;
        height: 97%;
    }
}
section#login >div#formulario{
    
    width: 70%;
    margin: auto;
 
   


    

}

@media screen and (min-width:992px) {
    body{
      background-image: linear-gradient(to top,#49a09d,#5f2c82);
 }  
section#login{
    width: 900px;
    height: 300px;
   
   }
    
    section#login >div#imagem {
        
        float: right;
        width: 40%;
        height: 100%;
      
    }
    section#login >div#formulario {
        float:left;
        width: 50%;
       
        
        
    }
}
div#formulario{
    text-align: center;
    

}
div#formulario >p{
    font-size: 1em;
    margin: 20px 0px;
    
}
div#formualrio >h1{
    font-size:1.2em;
   
}

